body {
    padding: 2rem;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(./img/pxfuel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #f5f5f5;
    font-family: montserrat,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    }

/* SEARCH */

.search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 700px; /*fix this so its better*/
    padding: 0.5rem;
    margin-bottom: 2rem;
}

form {
    height: 30px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
    padding: 6px 12px;
}

input {
    height: 100%;
    max-width: 150px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #f5f5f5;
    font-size: 1.4rem;
    font-weight: 600;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 1rem;
}

.search-icon {
    height: 18px;
    min-width: 18px;
    background-image: url(./img/search-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* OUTPUT-CONT */

.output-cont {
    display: flex;
    justify-content: space-between;
}

/* INFO */

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* INFO TOP */

.location {
    font-size: 1.6rem;
    margin-top: 0;
}

.descriptionText, .degreesText {
    margin-bottom: .6rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid #f5f5f5;
    width: fit-content;
}

.description, .degrees {
    margin-bottom: .6rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.weather-icon {
  width: 52px; 
  height: 52px;
  margin-bottom: 0.6rem; 
}

/* INFO BOT */

.time, .date, .timezone {
    margin-bottom: .6rem;
    font-size: 1.4rem;
    font-weight: 600;
}

/* EXTRA */

.extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-top: 1.7rem;
}

.extra-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3rem;
}

.extra-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.temp-icon, .humidity-icon, .wind-icon, .rain-icon {
  width: 52px; 
  height: 52px;
  margin-right: 10px; 
}

.feelslikeText, .humidityText, .windText, .probRainText {
    margin-bottom: .6rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.feelslike, .humidity, .wind, .probRain {
    font-size: 1.4rem;
    font-weight: 600;
}

/* FOR TOGGLE SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6f61; 
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff3d3d; 
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff3d3d; 
  }
  
  input:checked + .slider:before {
    transform: translateX(46px); 
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .switch-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  
  .switch-text.left {
    left: 10px;
  }
  
  .switch-text.right {
    right: 10px;
  }

/* for loading display */

  .loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #e74545;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* forcast */
  
  .forecast-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .day {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .temp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .temp-high {
    margin-bottom: .4rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .temp-low {
    font-size: 1rem;
    font-weight: 600;
  } 

  .icon-forecast {
    width: 52px; 
    height: 52px;
    margin-top: 2rem;
  }

/* MEDIA QUERIES */

@media (max-width: 950px) {
  body {
    overflow: scroll;
    background-color: hsl(303, 50%, 7%);
  }

  .search {
      flex-direction: column;
      gap: 1rem;
  }

  form {
      width: 100%;
  }

  .info {
      align-items: center;
      text-align: center;
  }

  .extra-cont {
      flex-direction: column;
      align-items: center;
  }

  .temp-icon, .humidity-icon, .wind-icon, .rain-icon {
      width: 32px;
      height: 32px;
      margin-right: 4px;
  }

  .extra-info {
      text-align: center;
  }

  .forecast-cont {
      flex-direction: column;
  }

  .card {
      margin-bottom: 1rem;
  }
}

/* for toggle switch */

@media (max-width: 1100px) {
  .search {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }
}
